    body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url("https://img.freepik.com/foto-gratis/pasillos-borrosos-supermercados_23-2151945659.jpg?semt=ais_hybrid&w=740") no-repeat center center fixed;
    background-size: cover;
    }

    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b3b6b;
    padding: 10px 20px;
    }

    .desplegable {
    position: relative;
    display: inline-block;
    }

    .boton-desplegable {
    background-color: #1b3b6b;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

    .desplegable-content {
    display: none;
    position: absolute;
    background-color: #ecf0f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    }

    .desplegable-content a {
    color:   #1b3b6b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .desplegable-content a:hover {
    background-color: #ddd;
    }

    .desplegale:hover .desplegable-content {
    display: block;
    }

    .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    }

    .search-bar input {
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    }

    .search-bar button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    }

    .cart-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    }


    .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1b3b6b;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-top-right-radius: 10px;
    }

   
    .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
    }

    .promo-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    .slogan-section {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .slogan-section h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
    }

    .slogan-section p {
    font-size: 18px;
    color: #555;
    font-style: italic;
    }
